.left-nav {
    .left-nav-header {
        display: flex;
        align-items: center;
        height: 100px;
    }
    img {
        margin: 0 35px;
        width: 120px;
        height: 60px;
      }


}